*{ 
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.escondido{
    display: none;
}
.showroom{
    min-width: 500px;
    min-height: 500px;
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex; 
    
}
ul li img{
    width: 100%;
    width: 110px;
    margin: auto;
    padding: 4px;
}